.vs/
GeneratedProjects/UWP/Assembly-CSharp/bin/x64/Debug/
GeneratedProjects/UWP/Assembly-CSharp/obj/x64/Debug
GeneratedProjects/UWP/Assembly-CSharp/bin/ARM/Debug/
GeneratedProjects/UWP/Assembly-CSharp/obj/ARM/Debug
GeneratedProjects/UWP/Assembly-CSharp-firstpass/bin/x64/Debug/
GeneratedProjects/UWP/Assembly-CSharp-firstpass/obj/x64/Debug/
GeneratedProjects/UWP/Assembly-CSharp-firstpass/bin/ARM/Debug/
GeneratedProjects/UWP/Assembly-CSharp-firstpass/obj/ARM/Debug/
Touchofunk Unity/TouchofunkUnity/Library/metadata/
Touchofunk Unity/TouchofunkUnity/Library/ShaderCache/
Touchofunk/bin/
Touchofunk/obj/
*.opensdf
*.sdf
*.db
*.suo