.vs/
Core/bin/
Core/obj/
GeneratedProjects/UWP/Assembly-CSharp/bin/
GeneratedProjects/UWP/Assembly-CSharp/obj/
GeneratedProjects/UWP/Assembly-CSharp-firstpass/bin/
GeneratedProjects/UWP/Assembly-CSharp-firstpass/obj/
Loopies/bin/
Loopies/obj/
StateMachine/bin/
StateMachine/obj/
Touchofunk Unity/TouchofunkUnity/Library/metadata/
Touchofunk Unity/TouchofunkUnity/Library/ShaderCache/
Touchofunk Unity/TouchofunkUnity/Temp/
Touchofunk/bin/
Touchofunk/obj/
Touchofunk/Assembly-CSharp.*
Touchofunk/Assembly-CSharp-firstpass.*
Touchofunk/UnityEngine.*
*.opensdf
*.sdf
*.db
*.suo